main {
    display: flex;
    width: 100%;
    height: 500px;
}

aside {
    width: 30%;
    background-color: grey;
    position: relative;
}

article {
    width: 70%;
    height: 500px;
    background-color: red;
}

.rettangolo {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 20px;
    background-color: beige;
    margin-top: 5px;
    margin-left: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: violet;
}

.dh {
    background-color: grey;
    width: 50px;
    height: 50px;
}

.cerchio {
    display: flex;   
    align-items: flex-end;
    background-color: grey;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: right;
    bottom: 0;
}